<% @posts.each do |post| %>
  <p><%= post.title %></p>
  <p><%= post.content %></p>

  <% post.images.each do |image| %>
    <%= image_tag(image, {:style => "width:100px; height: 100px;"}) %>
    <%= link_to "x", post_image_path(post, image), method: :delete, style: "color: red;" %>
  <% end %>

<% end %>